* {
    box-sizing: border-box;
}

body{/*huisstijl font van wow air*/
    font-family: museo-sans,"Helvetica Neue",Helvetica,sans-serif;
    font-size: 1em;
    line-height: 1.42857143;
    color: #2b4040;
    margin: 0;
    padding-top: 4rem;
}

/*nav*/
@media (max-width: 40em){/*small schreen*/
    header#header>nav{
        bottom: 0;
        position: fixed;
        width: 100%;
        background-color: #89328A;
    }
    header#header>nav ul{
        align-items: flex-start;
        height: 3em;
        border-bottom: none;
    }

    header#header>nav a{
        color: white;
    }

    section.heading>h1{
        margin-top: -2.5em;
    }

    section.schilderijen{
        margin-bottom: 4em;
    }
}

@media (min-width: 40em){/*borderbottom voor nav*/
header#header>nav ul{
    align-items: flex-start;
    height: 4em;
    background-color: white;
    border-bottom: 1px solid #d3d3d3;
    }
}

a {
    text-decoration: none;
}

header#header{
    position: fixed;
    top:0;
    left:0;
    right:0;
    z-index: 1;
    margin: 0;
}

header#header ul{
    list-style: none;
    padding: 0;
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    max-height: 3.5em;
    margin-top: -0.5em;
}

header#header li:first-child{
    margin-left: 50%;
    box-sizing: border-box;
    margin:
}

header#header li:nth-child(2){
    padding-top: 1em;
}
header#header li:nth-child(3){
    padding-top: 1em;
}

header#header li{
    margin: 1em;
}

header#header img {
    max-height: 3em;
    max-width: 3em;
    margin-left: -2em;
}

/*toevoegen notificatie*/
nav section{
    position: absolute;
    right: 1em;
    top: -.5em;
    height: 2em;
    width: 2em;
    text-align: center;
    background-color: #FBDD72;
    color: #89328A;
    display: none;
}

nav section.aan{ /*de transitie gaat langzamer*/
    display: block;
    opacity: 1;
    animation-name: fadeInOpacity;
    animation-iteration-count: 1;
    animation-timing-function: ease-in;
    animation-duration: 1.5s;
}

@keyframes fadeInOpacity {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

/* intro van verhalenwebsite */
section.heading{
    margin: 0;
    color: #fff;
    z-index: 999;
    min-height: 15em;
    padding: 0 1em;
}
@media(max-width: 40em){/*achtergrond komt boven het filter*/
    section.heading{
        background-image: url(../img/backgr.png);
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
    }
    section.heading>h1 {
        font-size: 3em;
        font-weight: 100;
        color: white;
        display: block;
        padding-top: 9rem;
    }
}

p.verhalen{
    margin-top: -3em;
    display: block;
}

section.heading{
    text-align: center;
    flex-grow: 2;

}

/* als het scherm groter wordt, zal de header links staan van de filter */
@media (min-width: 40em){
    header + div {
        display: flex;
        justify-content: space-between;
        background-image: url(../img/backgr.png);
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
    }

    section.heading{
        text-align: center;
        flex-grow: 2;
    }

    h1{
        padding-top: 0;
    }
    section.heading>h1 {
        font-size: 3em;
        font-weight: 100;
        color: white;
        display: block;
     }
}

/* filter */
details{
    background-color: white;
    min-width: 20em;
}

form, summary:-webkit-details-marker {
    display: none;
    background-color: white;
    position: relative;
    display: flex;
    flex-wrap: wrap;
}

legend{
    display: none;
}

fieldset{
    border: none;
    min-width: 100%;
}

summary{
    background-color: #89328A;
    color: white;
    font-size: 1.2em;
    border: none;
}

form input[type=radio] {/* radio input buiten beeld*/
    position: absolute;
    left:-666em;
}

form ul{
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding: 0;
    min-width: 100%;
}

form li{
    background-color: #FBDD72;
    color: #2b4040;
    font-size: 1em;
    border: 0.1em solid #FBDD72;
    list-style: none;
    margin: .2em .5em;
    text-align: center;
}

form li:hover{
    border-color: #89328A;
}

form li.wow{ /* gaat naar verhaal*/
    background-color: #89328A;

}
form li.wow>a, li.wow>a:visited{/* link is visited, maar nog leesbaar tegen paarse achtergrond*/
    color: #FBDD72;
}

section#filter{
    margin-left: 1em;
    margin-right: 1em;
}


/*organisatie filter*/
ul.organisatie{
    list-style: none;
    padding: 1em;
    display: flex;
}

ul.organisatie>li>a{
    color: #2b4040;
}

ul.organisatie>li{
    padding: 0.4em 1em 0.4em 1em;
    color: #2b4040;
    font-size: 1em;
    list-style: none;
    text-align: center;
}

ul.organisatie>li#az,#populair,#nieuw{/* organisatie filters ID die linken met de paginas*/
    padding: 0.4em 1em 0.4em 1em;
    background-color: #FBDD72;
    color: #2b4040;
    font-size: 1em;
    list-style: none;
    text-align: center;
    border-radius: 40%;
}

ul.organisatie>li{
    margin: 1em;
    padding: .5em;
    color: #2b4040;
    font-size: 1em;
    list-style: none;
    text-align: center;
}

a {
    text-decoration: none;
}

section>h2{
    margin-left: 1em;
    width: 100%;
}

/*  verhalen grid */
section.schilderijen {
    display: grid;
    grid-column-gap: 1em;
    grid-row-gap: 1em;
    grid-template-columns: 1fr;
}
@media (min-width: 40em) {
    section.schilderijen{
        grid-template-columns: 1fr 1fr;
    }
}
@media (min-width: 60em){
    section.schilderijen{
        grid-template-columns: 1fr 1fr 1fr;
    }
}

/* verhaal blokje */
article{
    display: block;
    border: 1px solid gray;
    background-color: white;
    position: relative;
}

article img{
    width:100%;
    height: 10em;
    object-fit: cover;
    object-position: center center;
}

article>section{
    display: grid;
    grid-template-columns: 100%;
}

section>article>header{
    width: 100%;
    padding: 1em;
    display: grid;
    grid-template-columns: 66% 33%;
    column-gap: 1em;
}
section>article>header h4{
    font-size: 1.5em;
    font-weight: 100;
    margin: 0;
}

/* Toevoegen aan leeslijst button*/
button.toevoegen{
    background-image: url(../img/plus.png);
    background-size: cover;
    background-position: center;
    width: 4em;
    height: 4em;
    color: transparent;
    position: relative;
    margin-left: 25%;
    margin-top: .5em;
}

button.toevoegen::after {
    content: 'toevoegen';
    position: absolute;
    font-size: 1em;
    bottom: -1rem;
    left: 0;
    right:0;
    border-bottom: 3px solid #FBDD72
}

button.toevoegen.toegevoegd{
    background-image: url(../img/vinkje.png);
    background-size: cover;
    background-position: center;
    width: 4em;
    height: 4em;
    margin-left: 25%;
    margin-top: .5em;
}

/* aantal likes voor het verhaal */
section.schilderijen>article>footer>div{
    position: absolute;
    margin-top: -2.7em;
    margin-left: 1em;
    background: #FBDD72;
    padding: .5em 1em .5em 2.5em;
    background-image: url(../img/duimpje.png);
    background-size: 1.9em;
    background-repeat: no-repeat;
}

/* mijn leeslijst */
h1.leeslijst{
    color: #89328A;
    margin: .5em;
    font-size: 3em;
    font-weight: 100;
    display: block;
}

section>p.lijst{
    margin: 1.5em;
}
section.downloaden{
    display: flex;
    flex-wrap: wrap;
}
section.downloaden>p{
    margin: 0 1em;
}
/* download button bron: https://www.w3schools.com/howto/howto_css_switch.asp*/
label.switch {
  position: relative;
  display: inline-block;
  width: 4em;
  height: 2.2em;
}
label.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}
/* button */
span.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #9C9B9B;
  border-color: #89328A;
  transition: .5s;
}
span.slider:before {
  position: absolute;
  content: "";
  height: 1.7em;
  width: 1.7em;
  left: .26em;
  bottom: .26em;
  background-color: #F2BE4D;
  transition: .4s;
}
input:checked + span.slider {
  background-color: #89328A;
}
input:checked + span.slider:before {
  transform: translateX(1.7em);
}
span.slider.round {
  border-radius: 1.2em;
}
span.slider.round:before {
  border-radius: 50%;
}

/* verhalen downloaden */
section.downloaden{
    width: 100%;
    padding: 1em;
    margin-right: 2em;
    display: grid;
    grid-template-columns: 70% 30%;
    column-gap: 1em;
}
p.download{
    text-align: right;
    padding-top: .5em;
}

/* verhaal is aan het downloaden */
section.schilderijen.downloading img {
    filter: opacity(50%);
}

/*verhaal stoned pagina*/
section.verhaalstoned{
    display: grid;
    grid-template-columns: 80% 10%;
}

section.verhaalstoned>section.stonedbutton{
    padding-top: 2em;
    display: grid;
    grid-template-rows: 1fr 1fr;
}

section>button+div{
    margin-right: 0;
}

/*likes bij verhaal*/
section.stonedbutton>div{
    position: absolute;
    max-height: 2em;
    max-width: 6em;
    text-align: center;
    margin-top: 9em;
    background: #FBDD72;
    padding: .5em 1em .5em 2.5em;
    background-image: url(../img/duimpje.png);
    background-size: 1.9em;
    background-repeat: no-repeat;
}

/* Stoned */
main{/* achtergrond */
    background-image: url(../img/achtergr.png);
    background-size: cover;
    min-height: 250em;
}

section.verhaal{
    padding: 1em;
}
/* titel */
div.s{
    background-image: url(../img/des.png);
    background-size: contain;
    background-repeat: no-repeat;
    min-height: 10rem;
}
div.t{
    background-image: url(../img/det.png);
    background-size: contain;
    background-repeat: no-repeat;
    min-height: 10rem;
}

div.o{
    background-image: url(../img/deo.png);
    background-size: contain;
    background-repeat: no-repeat;
    min-height: 10rem;
}
div.n{
    background-image: url(../img/den.png);
    background-size: contain;
    background-repeat: no-repeat;
    min-height: 10rem;
}
div.e{
    background-image: url(../img/dee.png);
    background-size: contain;
    background-repeat: no-repeat;
    min-height: 10rem;
}
div.d{
    background-image: url(../img/ded.png);
    background-size: contain;
    background-repeat: no-repeat;
    min-height: 10rem;
}
section.verhaal>p{/* verhaal */
    color: #FBDD72;
}



