body{
    font-family: museo-sans,"Helvetica Neue",Helvetica,Arial,sans-serif;
    font-size: 16px;
    line-height: 1.42857143;
    color: #2b4040;
    background-color: #fff;
}

/*HEADER*/
header.head{
    position: fixed;
    top:0;
    left:0;
    right:0;
    background: white;
    z-index: 1;
}

header.head ul{
    list-style: none;
    padding: 0;
    display: flex;
    justify-content: space-between;

}

header.head li:first-child{
    margin-right: auto;
}

header.head li{
    margin: 1em;
}

header.head img {
    width:3cm;
    height: 3cm;
    object-fit: cover;
    object-position: center center;

}

/*VERHALEN*/
article{
    display: block;
    border: 1px, solid, #89328A;
    background-color: #F1BE4D;
    max-width: 20em;
    position: relative;
}

article img{
    width:100%;
    max-width: 20em;
    height: 10em;
    object-fit: cover;
    object-position: center center;
}

article h3, article p {
    margin: 1rem;
}

button.download{
    position: absolute;
    top: 1em;
    left: 1em;
    background-color:#FBDD72;
    color: #89328A;
    font-size: 16px;
}

h3{
    border-bottom: solid #89328A;
}

/*FILTER*/
form{
    background-color: white;
    border: solid #89328A;
    max-width: 20em;
    position: relative;

}

form>fieldset{
    background-color: #89328A;
    color: white;
    font-size: 20px;
    margin: 8px;
}

form>button{
    background-color: #FBDD72;
    color: #2b4040;
    font-size: 16px;
    padding: 1em 2em;
    box-sizing: border-box;
    border: 1em;
    margin: 8px;
}

form>button:hover{
    border: solid #89328A;
}

form>button.wow{
    background-color: #89328A;
    color: #FBDD72;
}
